html {
    overflow-y: visible;
    padding: 4rem 8rem;
}

a {
    color: inherit;
}

.is-text-centered > * {
    text-align: center;
}

.is-full-width {
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .is-centered-on-mobile {
        justify-content: center !important;
    }

    html {
        padding: 2rem 2rem;
    }
}

img.screenshot {
    box-shadow: 0px 0px 50px 5px rgba(236,236,236,0.8);
    image-rendering: nearest-neighbor;
    border-radius: 8px;
}

.is-vertically-centered {
    display: flex;
    align-items: center;
}